# Trampoline Competition Scheduler

## Information
### Competitors
- First name of competitor
    - Stored as a string.
- Surname of competitor
    - Stored as a string.
- Preferred category of competitor
    - Stored as a boolean.
        - True: Female
        - False: Male
- Trampoline (TRA) competitor
    - Competing?
        - True or False.
    - Stored as an enumerator?
        - 1: Novice
        - 2: Intermediate
        - 3: Intervanced
        - 4: Advanced
        - 5: Elite
        - 6: Elite-Pro
- Double-mini trampoline (DMT) competitor
    - Competing?
        - True or False.
    - Stored as an int.
        - 1: Level 1
        - 2: Level 2
        - 3: Level 3
        - 4: Level 4
        - 5: Level 5
        - 6: Level 6
- Tumbling (TUM) competitor
    - Competing?
        - True or False.
    - Stored as an int.
        - 1: Level 1
        - 2: Level 2
        - 3: Level 3
        - 4: Level 4


### Judges
Level of trampoline (TRA) juding qualification
Chairperson

In [1]:
# Import required packages.

# Import pandas for data analysis.
import pandas as pd

In [2]:
# Read the .csv file with all the entries.
df = pd.read_csv("Sample_Competitor_Data.csv", keep_default_na = True, delimiter = ",", skipinitialspace = True, encoding = "utf-8-sig")

In [3]:
# Find the shape of the data in the format (number of rows, number of columns).
df.shape

(14, 6)

In [4]:
# Display the first five results, starting at index zero.
df.head(5)

,first_name,surname,preferred_category,tra_competitor,dmt_competitor,tum_competitor
0,Bilbo,Staple,Male,Novice,1,1
1,Nilbo,Lexus,Male,Novice,4,2
2,Tristy,Thomdaughter,Female,Intermediate,0,3
3,Tristan,Turntable,Male,Not competing,2,4
4,Izzy,Dogg,Female,Intermediate,3,5

In [5]:
# Display the last five results.
df.tail(5)

,first_name,surname,preferred_category,tra_competitor,dmt_competitor,tum_competitor
9,Matitan,Marthritis,Male,Elite-Pro,7,5
10,Miko,Piko,Male,Elite-Pro,4,4
11,Darnius,Wallet,Male,Elite-Pro,1,3
12,Ark,Balboa,Male,Elite,0,2
13,Lavender,Rose,Female,Advanced,0,1

In [6]:
# Create a new column called "is_female" based on the "preferred_category" column.
df["is_female"] = df["preferred_category"].apply(lambda x: True if x == "Female" else False)

# Drop the preferred category column.
df = df.drop(columns = ["preferred_category"])

In [7]:
# Create a function to convert trampoline (TRA) levels to integers.
def tra_level(level):
    if level == "Novice":
        level = 1
    elif level == "Intermediate":
        level = 2
    elif level == "Intervanced":
        level = 3
    elif level == "Advanced":
        level = 4
    elif level == "Elite":
        level = 5
    elif level == "Elite-Pro":
        level = 6
    else:
        level = 0
    return level

# Create a new column called "tra_level" based on the "tra_competitor" column.
df["tra_level"] = df["tra_competitor"].apply(tra_level)
print(df)

   first_name         surname tra_competitor  dmt_competitor  tum_competitor  \
0       Bilbo          Staple         Novice               1               1
1       Nilbo           Lexus         Novice               4               2
2      Tristy    Thomdaughter   Intermediate               0               3
3     Tristan       Turntable  Not competing               2               4
4        Izzy            Dogg   Intermediate               3               5
5      Snizzy           White         Novice               5               6
6        Mace          Centra    Intervanced               6               0
7       Jabby  Abul's Disease       Advanced               5               0
8   Coolmente       Gonzooles          Elite               4               6
9     Matitan      Marthritis      Elite-Pro               7               5
10       Miko            Piko      Elite-Pro               4               4
11    Darnius          Wallet      Elite-Pro               1               3
12        Ark          Balboa          Elite               0               2
13   Lavender            Rose       Advanced               0               1

    is_female  tra_level
0       False          1
1       False          1
2        True          2
3       False          0
4        True          2
5        True          1
6       False          3
7       False          4
8       False          5
9       False          6
10      False          6
11      False          6
12      False          5
13       True          4

In [8]:
# Check the types of the .csv file.
df.dtypes

first_name        object
surname           object
tra_competitor    object
dmt_competitor     int64
tum_competitor     int64
is_female           bool
tra_level          int64
dtype: object

In [9]:
# Change all data fields to either categorical (category) or continuous (float64) types.
df["first_name"] = df["first_name"].astype("category")
df["surname"] = df["surname"].astype("category")
df["tra_competitor"] = df["tra_competitor"].astype("category")
df["dmt_competitor"] = df["dmt_competitor"].astype("category")
df["tum_competitor"] = df["tum_competitor"].astype("category")
df["tra_level"] = df["tra_level"].astype("category")

# "is_female" is already of type Boolean, therefore does not need to be changed.

In [10]:
# Save the updated DataFrame back to CSV
df.to_csv("Updated_Sample_Data.csv", index = False)

In [ ]:
# from competitor.py import function

ModuleNotFoundError: No module named 'competitor'

In [ ]:
# class Level(Enum):
#     NOVICE = 0
#     INTERMEDIATE = 1

# @dataclass
# class Competitor:
#   first_name: str
#   surname: str
#   level: Level